body {
  background: #3a84b4;
  background: linear-gradient(106deg, #3a84b4 0%, #df1dfd 28%, #3928cf 75%, #6a45fc 100%);
  color: whitesmoke;
}

body .container {
  display: flex;
  justify-content: center;
}

body .container .row {
  box-shadow: 2px 1px 2px 1px white;
  border-radius: 8px;
}

body .container h1 span {
  color: yellow;
}

